.dialog-pane {
    -fx-min-width: 400px;
    -fx-min-height: 400px;
    -fx-max-width: 400px;
    -fx-max-height: 400px;
}


GridPane {
    -fx-background-color: #ffffff;
    -fx-alignment: center;
    -fx-hgap: 100;
    -fx-vgap: 10;
    -fx-padding: 10 0 15 100;

}

.root{
    -fx-background-color: #ffffff;

   }

.Label {
    -fx-text-fill: #000000;
    -fx-font-size: 14pt;
    -fx-font-family: Helvetica;
    -fx-translate-y: -100;
}


.hbox {
    -fx-translate-x: -55;
    -fx-spacing: 10;
}

#field {
    -fx-pref-width: 200;
}

.button {
    -fx-text-fill: #000000;
    -fx-background-color: #b9b9b9;
    -fx-pref-width: 85;
}
